
body{
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.flex{
    display: flex;
}

.container{
    padding: 0 5vw; 
    margin: auto;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}

.uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.mx-2{
    margin: 0 12px;
}